.fourth-panel {
  height: 100vh;
  background-image: url("..\\images\\kontakt.jpg");
  background-size: cover;
  position: relative;
}

.info-panel {
  position: absolute;
  width: 40vw;
  height: 55vh;
  border-radius: 50px;
  background-color: white;
  overflow: hidden;
  top: 25vh;
  right: 20vw;
}

.pane-header {
  background-color: rgb(247, 131, 7);
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-text-header {
  font-size: 25px;
  font-weight: bold;
  margin: 3vh;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1050px) {
  .info-panel {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
  }
}
